<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<!-- Footer -->
<div th:fragment="footer">
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Customer Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Customer care</a></li>
                    <li><a href="#" class="text-white">FAQ</a></li>
                    <li><a href="#" class="text-white">Shipping guides</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Policy Only</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Warranty</a></li>
                    <li><a href="#" class="text-white">Exchange policy</a></li>
                    <li><a href="#" class="text-white">Information security</a></li>
                    <li><a href="#" class="text-white">Delivery policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>About Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">News</a></li>
                    <li><a href="#" class="text-white">Career</a></li>
                    <li><a href="#" class="text-white">Investors</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <small>CONTACT<br>Email: contact@oncemore.com<br>Phone: +84 368988258</small>
        </div>
    </div>
</footer>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>
