<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/static/css/login.css}">
</head>
<body>
<div class="header">
    <h1>Once More Store</h1>
</div>
<div class="content">
    <div class="login-top">
        <a>Please sign in</a>
    </div>
    <div class="login-bot">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="User Name"  required/><br />
            <input type="password" name="password" placeholder="Password" required /><br />
            <button value="Login" type="submit">Login</button>
        </form>
        <br/>
        <div th:if="${param.error}" style="color: red;">
            Invalid username or password
        </div>
        <br/>
    </div>
</div>
</body>
</html>